* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Mukta Mahee','Arial', sans-serif;
    color: #1e7ad2;
    padding: 0;
    margin: 0;
}

body {
    background: #82b4f3;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
    color: #050506;
    line-height:1.5;
}

header {
    background: #6d9fea;
    padding: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    background: #d5d3dd;
}

nav a:hover {
    color: #d5d3dd;
    background: #1e7ad2;
}

footer {
    padding: 20px;
    text-align: center;
    background: #1e7ad2;
    color: #fdcc66;
}

footer a {
    color: #fdcc66;
    text-decoration: none;
    padding: 10px;
}

footer i {
    color: #fdcc66;
    text-decoration: none;
    padding: 10px;
}

@keyframes iconflip {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

footer div .fa-linkedin-in:hover{
  -webkit-animation: iconflip 2s;
  -moz-animation: iconflip 2s;
  -o-animation: iconflip 2s;
  animation: iconflip 2s;
}

footer div .fa-twitter:hover{
  -webkit-animation: iconflip 2s;
  -moz-animation: iconflip 2s;
  -o-animation: iconflip 2s;
  animation: iconflip 2s;
}

footer small {
    color: #fdcc66;
    text-decoration: none;
    padding: 10px;
}

.btn,
input[type='submit'] {
    text-decoration: none;
    background: #d5d3dd;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
}

.btn:hover,
input[type='submit']:hover {
    color: #d5d3dd;
    background: #1e7ad2;
}

#profile_pic img {
    padding: 10px 20px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#s1 h1,
h2,
p {
    text-align: center;
}

#s1 {
    padding: 50px;
}

#s1 h1 {
    font-family: 'Dancing Script', cursive;}

/*
.column {
    float: left;
    width: 450px;
}

.clear {
    clear: both;
}
*/

#s1 {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5)
}

#s2 {
    padding: 50px;
    background: #6d9fea;
}

#flex-container {

    display: flex;

    align-content: center;

    align-items: center;

}

#flex-container div {

    width: 50%;

    padding: 10px;
}

#flex-container div p{
    margin-left: 10px;
    margin-right: 25px;
}

#flex-container div img {

    width: 100%;

}

#flex-container div img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#github {
    text-align: center;
    margin-left:25%
}

#github .btn {
    margin: 10px;
}

#s2 h2 {
    text-align: center;
}

#vid {
    position: relative;
}

#s2 .btn {
    margin: 5px;

}

#s2 p {
    position: relative;
    top: 20px;
}

#s3 {
    padding: 50px;
    background: #82b4f3;
}

#s3 p {
    display: inline block;
    text-align: left;
}

#s4 {
    padding: 50px;
    background: #6d9fea;
}

#s4 p{
    text-align: left;
    margin-left: 25%;
}
